// QUEM SOMOS

.quem-somos{

    display: flex;
    height: auto;
    background-color: #fecd23;

    .ctn-quemsomos{

        text-align: left;
        padding-left: 15%;
        padding-bottom: 10%;

        .titulo-quemsomos{

            width: 100%;
            padding: 17% 0 10% 0;
            font-weight: 100; 
            font-size: 3.2em;
            margin: 0 auto;         

            span{

                font-weight: bold;
            }            
        }
        
        p{

            font-weight: 400;
            font-size: 1.1em;
            width: 90%;
        }
        
    }    
}